pdf2image -> https://pypi.org/project/pdf2image/
pytesseract -> https://pypi.org/project/pytesseract/
opencv -> https://pypi.org/project/opencv-python/
matplotlib -> https://pypi.org/project/matplotlib/
numpy -> https://pypi.org/project/numpy/
tkinter in python (preinstalled)
regex as re in python (preinstalled)
csv in python (preinstalled)


